{% extends "app/layout.html" %}

{% block content %}


    <h2>{{ title }}:</h2>
    <span>
    <h3>Кто мы такие?</h3>
    Мы осуществляем быстрые курьерские услуги. Это доставка курьером в ближайшие часы с момента вызова из рук в руки, прием и выполнение заказов - ежедневно с восьми утра до десяти вечера.
    Письма, посылки, цветы, деловая корреспонденция, документы, - всё это мы можем доставить быстро до нужного Вам места.
    </span>
    <span>
    <h3>Почему мы?</h3>
    Наши курьеры опытные, ответственные, внимательные и энергичные.<br />
    Индивидуальный подход к каждому клиенту.<br />
    Сделаем все в лучшем виде.<br />
    Каждый клиент очень важен для нас.
    </span>

{% endblock %}
